/* ----------------------------Top ----------------------------*/
/* html */
html{
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
h1,h2,h3,p{
    margin: 0;
    padding: 0;
}

h1{
    font-family: Friz Quadrata;
    font-size: 6.2rem;
    font-weight: bold;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 2.0rem;
}
p{
    font-size: 1.4rem;
    line-height: 2.6rem;
}

a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.br-sp{
    display: none;
}
.sub-section{
    padding-top: 180px;
}
.contents{
    background-color: rgba(255, 255, 255, 0.9);
}
.contents-wrapper{
    max-width: 900px;
    width: 92vw;
    margin:0 auto ;
}
.section-title{
    margin: 0 auto 50px;
    text-align: center;
}
.more-btn {
    font-size: 22px;
    display: block;
    margin-top: 20px;
    text-align: right;
    animation: btn-flash 1s linear infinite;
}
@keyframes btn-flash{
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0.1;
    }
}


@media(max-width:780px){
    .br-sp {
        display:block;
    }
    h1{
        font-size: 4.8rem;
    }
}

@media(max-width:430px){
    h1{
        font-size: 4.0rem;
    }
    h2{
        font-size: 2.8rem;
    }
    .work-items{
        flex-direction: column;
        align-items: center;
    }
    h3{
        font-size: 2.0rem;
    }
    p{
        font-size: 1.2rem;
    }
    .sub-section {
        padding-top: 100px;
    }
}


/* header */
header{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 90px;
}
header:hover{
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.3s;
}
.header-wrapper{
    display: flex;
    width: 92vw;
    height: 90px;
    justify-content: space-between;
    margin: 0 4vw;
}
.header-left{
    z-index: 1;
    line-height: 90px;
}
.header-logo{
    font-size: 1.8rem;
    font-family: Friz Quadrata;
    font-weight: bold;
}





.underdot{
    position: relative;
    display: inline-block;
}
.underdot::after{
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: auto;
    content: '';
    width: 100%;
    height: 2px;
    /* border-radius: 50%; */
    background: #333;
    transform: scale(0,1);
    transform-origin: center bottom;
    transition: transform 0.2s;
    
}
.underdot:hover::after{
    transform: scale(1,1);
}


.header-right{
    z-index: 1;
}


.nav-list{
    display: flex;
    margin-top: 36px;
}
.nav-item{
    margin-right: 30px;
    font-size: 1.4rem;
}
.nav-item:last-of-type{
    margin-right: 0px;
}
.hbg-icon{
    display: none;
}



@media(max-width:430px){
    .header-right{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color:rgba(255, 255, 255, 0.8);
        z-index: 1;
        margin: 0;

        transform-origin: 92vw 4vh ;
        transform: rotate(180deg);
        transition: all 0.3s;
    }
    /* header-rightに付与するクラス */
    .header-right.displayBlock{
        /* display: block; */
        transform: rotate(0);
    }
    .header-right.opacityOne{
        opacity: 1;
    }
    .nav-list{
        padding: 100px;
        margin: 0;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .nav-item{
        font-size: 2.6rem;
        text-align: center;
        margin: 0;
    }

    header:hover{
        background-color: rgba(255, 255, 255, 0);
    }

    /* hbg-menu */
    .hbg-icon{
        z-index: 1;
        display: block;
        position: fixed;
    }
    .hbg-bar{
        background-color: black;
        height: 2px;
        width: 22px;
        position: absolute;
        top:4vh;
        left: 85vw;
        transition: all 0.3s;

    }
    .hbg-bar::before{
        content: "";
        background-color: black;
        height: 2px;
        width: 22px;
        position:absolute;
        bottom: 8px;
        transition: all 0.3s;
    }
    .hbg-bar::after{
        content: "";
        background-color: black;
        height: 2px;
        width: 22px;
        position:absolute;
        top: 8px;
        transition: all 0.3s;
    }

    .hbg-bar.close{
        /* opacity: 0; */
        background: transparent;
    }
    .hbg-bar.close::before{
        transform: translate(0px,8px) rotate(30deg);
    }
    .hbg-bar.close::after{
        transform: translate(0px,-8px) rotate(-30deg);
    }
}



/* fv */

.mein-copy{
    position: absolute;
    bottom: 50px;
    left: 4vw;
}


.fv-img-container{
    width: 100vw;
    height: 100vh;
}
.fv-img{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

#fvImg{
    filter: grayscale(100%) blur(5px);
    transition: all 2s;
}


/* about */

.about-text{
    margin: 50px auto 0px;
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 0.3em;
    line-height: 3.0rem;
}

/* works */
.work-items{
    display: flex;
    justify-content: space-around;
}
.work-item{
    width: 200px;
    margin-bottom: 20px;
}
.work-img{
    width: 200px;
    height: 150px;
    transition: opacity 0.3s;
}
.modal-opener:hover{
    cursor: pointer;
}
.modal-opener:hover .work-img{
    opacity: 0.7;
}
.work-text{
    text-align: right;
    font-size: 1.2rem; 
}



/* modal */
.modal-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    z-index: -1;
    transition: opacity 0.3s;
    opacity: 0;
}
.modal-window{
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid rgb(204, 204, 204);
    width: 95vw;
    height: 95vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    padding: 7vh 7vw;

    transition:0.3s 0.1s;
    transform: scale(0.3);
}

/* is_openでモーダル開くアニメーション・JS */
.modal-wrapper.is-open{
    opacity: 1;
    z-index: 10;
    transform: scale(1);
}
.modal-wrapper.is-open .modal-window{
    transform: scale(1);
}


.modal-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-close-icon{
    position: absolute;
    top: 3vh;
    right: 3vw;
    width: 30px;
    height: 30px;
}
.modal-close-icon:hover{
    cursor: pointer;
}
.modal-close-icon::before{
    content: "";
    background-color: black;
    position: absolute;
    width: 22px;
    height: 2px;
    transform: rotate(30deg);
    transition: all 0.3s;
    top: 15px;
    left: 3px;
}
.modal-close-icon::after{
    content: "";
    background-color: black;
    position: absolute;
    width: 22px;
    height: 2px;
    transform:  rotate(-30deg);
    transition: all 0.3s;
    top: 15px;
    left: 3px;
}

.modal-img{
    width: 300px;
    height: 200px;
    margin: 0 auto 50px;
    display: block;
}
.modal-text{
    display: block;
    /* margin-left: 20px; */
    overflow-y: scroll;
    padding: 0 20px;
}
.modal-text a{
    text-decoration: underline;
}




@media(max-width:430px){
    .modal-window{
        display: block;
        padding: 5vh 5vw;
    }
    .modal-img{
        width: 200px;
        height: 150px;
    }
    .modal-imgs{
        height: 30%;
    }
    .modal-text{
        height: 70%;
        margin: 0;
    }
}





/* skill-blog-contact */
.skill-blog-contact{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 130px;
}
.sub-sub-section{
    width: 200px;
    margin: auto 30px;
}

/* footer */
footer{
    background-color: rgba(255, 255, 255, 0.9);

}
footer p{
    text-align: center;
    margin: 0 auto;
    font-size: 1.4rem;
}









/* ----------------------------about ----------------------------*/

/* profile */
.profile{
    margin-top: 190px
}
.profile-items{
    display: flex;
    justify-content: space-between;
}
.profile-img{
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
}
.profile-text{
    max-width: 440px;
    margin: 0 50px 150px;
}

/* skill */
.skill{
    margin-bottom: 150px;
}

.skill-items{
    display: flex;
    justify-content: space-around;
}    
.skill-item{
    width: 220px;
    display: flex;
    flex-direction: column;
}
.skill-name{
    text-align: center;
    margin-bottom: 20px;
}


i{
    text-align: center;
}

.skill-text{
    margin: 20px auto 0px;
    text-align: center;  
}

@media(max-width:780px){
    .profile-items{
        flex-direction: column;
        align-items:center;
    }
}

@media(max-width:430px){
    .profile-text{
        margin-bottom:100px;
    }
    .skill-items{
        flex-direction: column;
        align-items: center;
    }  
    .skill-item{
        margin-bottom: 50px;
    }      

}





/* ----------------------------Contact ----------------------------*/
/* contact */
.contact-wrapper{
    width: 540px;
    margin: 100px auto 150px;
}

.form-label{
    margin: 10px 0px 5px 0px;
    display: block;
    font-size: 1.6rem;
}

.textbox{
    width: 100%;
    height: 25px;
    margin: 0px;
}

.textarea{
    width: 100%;
    height: 300px;
}
.submit-btn{
    /* -webkit-appearance: none;    レスポンシブの時に色を変えないようにする*/
    display: block;
    margin: 50px auto 0px;
    text-align: center;
    width: 200px;
    height: 50px;
    background-color:rgba(255,255,255, 0) ;
    border-radius: 25px;
    border:2px solid #575757;
    color:#575757 ;
    font-weight: bold;
    font-size: 2.6rem;
    letter-spacing: 0.1em;
}
.submit-btn:hover{
    transition: all 0.2s;
    cursor: pointer;
    background-color: #575757;
    color: white;
}

@media(max-width:430px){
    .contact-wrapper{
        width: 92vw;
    }

}      
